body {
  background-image: url("../images/background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

h1 {
  background: linear-gradient(to bottom right, #005144, #78D4C4);
  color: #efefef;
  font-family: 'Iceland', cursive;
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

#canvas {
  background-color: #fff;
  width: 492px;
  height: 492px;
  margin-right: 10px;
  border: 1px solid lightblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#menu {
  border: 1px solid lightblue;
  width: 90px;
  height: 495px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pixels {
  float: left;
  min-width: 10px;
  /* max-width: 10px; */
  min-height: 10px;
  border: solid #dbd6d6 1px;
  flex: 1;
}

.colors:not(#eraser) {
  width: 40px;
  height: 40px;
  border: 1px dashed #d6d1d1;
  border-radius: 50%;
}

#eraser {
  filter: invert(100%);
  opacity: 0.7;
  background-image: url('../images/eraser-512.png');
  background-size: cover;
  width: 45px;
  height: 45px;
}

#clear {
  background-image: url('../images/crumpled-paper-icon.png');
  filter: invert(100%);
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 90px;
  ;
  background-color: transparent;
}

.save-container, .button-container {
  width: 200px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 210px;
  display: flex;
  justify-content: space-around;
}

.save-icon {
  background-image: url('../images/save-512.png');
  filter: invert(70%);
  background-size: cover;
  width: 40px;
  height: 40px;
}

button {
  width: 50px;
  margin: auto;
  background: linear-gradient(#AED0DC, white);
  border-radius: 20%;
}
